openapi: 3.0.0
info:
  title: API documentation
  version: 1.0.0
  description: API documentation for managing services
servers:
- url: https://app.innorix.com
  description: Document For API
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter your access token
    RefreshTokenAuth:
      type: apiKey
      in: header
      name: X-Refresh-Token
      description: Enter your refresh token in the X-Refresh-Token header
    WorkSpaceId:
      type: apiKey
      in: header
      name: x-workspace-id
      description: Enter your workspace
    CommandApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Enter your command automation API key to trigger a command automation
  schemas:
    AutomationComponent:
      type: object
      properties:
        componentId:
          type: string
          example: 6f2cf087-23b1-4f4a-97a2-6f7d7f884f56
        automationDetailId:
          type: string
          example: D1234-5678-9012-3456
        type:
          type: string
          enum:
          - webpage
          - ai_pipeline
          - workflow
          example: ai_pipeline
        url:
          type: string
          nullable: true
          example: https://example.com/pipeline
        storagePath:
          type: string
          nullable: true
          example: /automation/components/pipeline
        tags:
          type: array
          items:
            type: string
          example:
          - Upload
          - Portal
        authType:
          type: string
          nullable: true
          example: API Key
        authKey:
          type: string
          nullable: true
          example: secret-value
        outboundMethod:
          type: string
          nullable: true
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          example: POST
        outboundEndpointUrl:
          type: string
          nullable: true
          example: https://api.example.com/events
        outboundEventPayload:
          type: object
          nullable: true
          additionalProperties: true
          example:
            fileId: file_001
            path: /upload/data.csv
        webhookUrl:
          type: string
          nullable: true
          example: https://example.com/webhook
        webhookSecretToken:
          type: string
          nullable: true
          example: webhook-secret
        webhookEventPayload:
          type: object
          nullable: true
          additionalProperties: true
          example:
            fileId: file_001
            path: /upload/data.csv
            userId: user_001
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AutomationComponentInput:
      type: object
      required:
      - automationDetailId
      - type
      properties:
        automationDetailId:
          type: string
        type:
          type: string
          enum:
          - webpage
          - ai_pipeline
          - workflow
        url:
          type: string
        storagePath:
          type: string
        tags:
          type: array
          items:
            type: string
        authType:
          type: string
        authKey:
          type: string
        outboundMethod:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
        outboundEndpointUrl:
          type: string
        outboundEventPayload:
          type: object
          additionalProperties: true
        webhookUrl:
          type: string
        webhookSecretToken:
          type: string
        webhookEventPayload:
          type: object
          additionalProperties: true
    PolicyManagementUserAccess:
      type: object
      properties:
        policyManagementId:
          type: integer
          example: 12
        userId:
          type: string
          example: user-uuid
        email:
          type: string
          format: email
        userName:
          type: string
        permission:
          type: integer
          enum:
          - 1
          - 2
          description: 1 = Read Only, 2 = Read and Write
    PolicyManagementPolicy:
      type: object
      properties:
        policyManagementId:
          type: integer
        workSpaceId:
          type: string
        scopeType:
          type: integer
          enum:
          - 1
          - 2
          - 3
          description: 1 = Workspace, 2 = Device Group, 3 = Device
        scopeId:
          type: string
        networkZone:
          type: integer
          enum:
          - 1
          - 2
          description: 1 = Allow All, 2 = Same Network Zone Only
        transferPermission:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          description: 0 = None, 1 = Read Only, 2 = Write Only, 3 = Read and Write
        userAccessEnabled:
          type: boolean
          readOnly: true
          description: Computed as true when the policy has at least one user-access record
        restrictedEnabled:
          type: boolean
          readOnly: true
          description: Computed as true when at least one restrictedFile category is not empty
        userAccess:
          type: array
          items:
            $ref: '#/components/schemas/PolicyManagementUserAccess'
    PolicyManagementUpdateRequest:
      type: object
      minProperties: 1
      properties:
        networkZone:
          type: integer
          enum:
          - 1
          - 2
        transferPermission:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
        restrictedFile:
          $ref: '#/components/schemas/PolicyManagementRestrictedFile'
      example:
        networkZone: 2
        transferPermission: 3
        restrictedFile:
          executables:
          - exe
          - dll
          certificates:
          - pfx
          databases:
          - sqlite
          disks:
          - iso
          windows:
          - C:/Windows/System32
          mac: []
          debianLinux:
          - /etc
          rhelLinux: []
    PolicyManagementRestrictedFile:
      type: object
      additionalProperties: false
      properties:
        executables:
          type: array
          maxItems: 500
          items:
            type: string
        certificates:
          type: array
          maxItems: 500
          items:
            type: string
        databases:
          type: array
          maxItems: 500
          items:
            type: string
        disks:
          type: array
          maxItems: 500
          items:
            type: string
        windows:
          type: array
          maxItems: 500
          items:
            type: string
        mac:
          type: array
          maxItems: 500
          items:
            type: string
        debianLinux:
          type: array
          maxItems: 500
          items:
            type: string
        rhelLinux:
          type: array
          maxItems: 500
          items:
            type: string
    PolicyManagementUserAccessCreateRequest:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          format: email
          example: member@example.com
    PolicyManagementUserAccessUpdateRequest:
      type: object
      required:
      - userId
      - permission
      properties:
        userId:
          type: string
          example: user-uuid
        permission:
          type: integer
          enum:
          - 1
          - 2
    PolicyManagementUserAccessDeleteRequest:
      type: object
      required:
      - userId
      properties:
        userId:
          type: string
          example: user-uuid
    CreateQRRequest:
      type: object
      required:
      - payload
      properties:
        type:
          type: string
          example: LOGIN_EXACOOLA
        payload:
          type: object
          properties:
            deviceId:
              type: string
              example: DEVICE_001
    QRResponse:
      type: object
      properties:
        code:
          type: string
          example: 8a7sd98asd7a98sd
        type:
          type: string
          example: LOGIN_EXACOOLA
        payload:
          type: object
        createdAt:
          type: number
          example: 1748148000000
        expiresAt:
          type: number
          example: 1748148060000
        createdBy:
          type: string
          nullable: true
          example: user_123
        status:
          type: string
          enum:
          - PENDING
          - APPROVED
          - REJECTED
          - EXPIRED
          - USED
          example: PENDING
    LoginApproveRequest:
      type: object
      required:
      - code
      - action
      properties:
        code:
          type: string
          example: 8a7sd98asd7a98sd
        action:
          type: string
          enum:
          - APPROVED
          - REJECTED
          example: APPROVED
        userId:
          type: string
          example: user_123
    GroupedTransfer:
      type: object
      properties:
        automationName:
          type: string
          description: Name of the automation (for scheduled transfers)
        automationStatus:
          type: integer
          description: Status of the automation
        transferId:
          type: string
          description: Comma-separated list of transfer IDs in this group
        monitorId:
          type: string
          description: Comma-separated list of monitor IDs in this group
        sourceId:
          type: string
          description: Source device ID
        targetId:
          type: string
          description: Target device ID
        sourceDeviceName:
          type: string
          description: Name of the source device
        targetDeviceName:
          type: string
          description: Name of the target device
        sourceOsType:
          type: string
          description: OS type of the source device
        targetOsType:
          type: string
          description: OS type of the target device
        totalSize:
          type: integer
          format: int64
          description: Total size of the transfer in bytes
        transferSize:
          type: integer
          format: int64
          description: Transferred size in bytes
        transferTime:
          type: integer
          description: Transfer duration in seconds
        formattedTransferTime:
          type: string
          description: Formatted transfer duration (HH:MM:SS)
        startDate:
          type: string
          format: date-time
          description: When the transfer started
        endDate:
          type: string
          format: date-time
          description: When the transfer ended
        status:
          type: integer
          description: Status code of the transfer
        percent:
          type: number
          format: float
          description: Transfer completion percentage
        targetPath:
          type: string
          description: Target path of the transfer
        createdAt:
          type: string
          format: date-time
          description: When the transfer record was created
        from:
          type: array
          items:
            $ref: '#/components/schemas/DeviceInfo'
          description: Source device information
        to:
          type: array
          items:
            $ref: '#/components/schemas/DeviceInfo'
          description: Target device information
    DeviceInfo:
      type: object
      properties:
        osType:
          type: string
          description: Device OS type
        deviceId:
          type: string
          description: Device ID
        deviceName:
          type: string
          description: Device name
    DeviceGroup:
      type: object
      description: (auto-added stub — referenced by the original spec but not defined)
    ErrorResponse:
      type: object
      properties:
        status_code:
          type: integer
          example: 400
        message:
          type: string
          example: error
        error:
          type: integer
          description: Application-specific error code
          example: 11263
    User:
      type: object
      description: (auto-added stub — referenced by the original spec but not defined)
    StandardSuccessResponse:
      type: object
      properties:
        status_code:
          type: integer
          example: 200
        message:
          type: string
          example: success
        data:
          type: object
          description: Response payload (shape varies by endpoint)
security:
- BearerAuth: []
  RefreshTokenAuth: []
  WorkSpaceId: []
paths:
  /api/access-history:
    get:
      summary: Get a list of access history
      description: Get a list of access history
      tags:
      - AccessHistory
      parameters:
      - in: query
        name: page
        required: false
        schema:
          type: integer
          default: 1
        description: The page number for pagination
      - in: query
        name: size
        required: false
        schema:
          type: integer
          default: 50
        description: The size of the page
      - in: query
        name: searchKeyword
        required: false
        schema:
          type: string
          example: ''
      - in: query
        name: sort
        required: false
        schema:
          type: string
        description: field:sort
      responses:
        '200':
          description: Get Access History successfully
        '400':
          description: Invalid request data
        '500':
          description: Server error
      operationId: listAccessHistory
  /api/access-history/export-csv:
    get:
      summary: Export access history as CSV
      description: Export access history data as a CSV file using the same filters as the access history
        list.
      tags:
      - AccessHistory
      parameters:
      - in: query
        name: page
        required: false
        schema:
          type: integer
          default: 1
        description: Page number for pagination when building the CSV
      - in: query
        name: size
        required: false
        schema:
          type: integer
          default: 10000
        description: Page size when building the CSV
      - in: query
        name: searchKeyword
        required: false
        schema:
          type: string
          example: ''
        description: Optional search keyword
      - in: query
        name: sort
        required: false
        schema:
          type: string
        description: Sort expression, e.g. "createdAt:desc"
      responses:
        '200':
          description: CSV file stream
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid request data
        '500':
          description: Server error
      operationId: exportCsvAccessHistory
  /api/access-history/sync-monitor:
    post:
      summary: Sync monitor data
      description: Sync monitor data
      tags:
      - AccessHistory
      responses:
        '200':
          description: Sync result with successfully synced monitoring apps
        '400':
          description: Invalid request data
        '500':
          description: Server error
      operationId: syncMonitorAccessHistory
      parameters: []
  /api/auth/login:
    post:
      summary: User login
      description: Authenticate user using email and password
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: test@innorix.com
                  description: User's email address
                password:
                  type: string
                  format: password
                  example: 2024Costomi!
                  description: User's password
      parameters:
      - in: query
        name: type
        schema:
          type: string
        required: false
        description: Example query parameter
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          email:
                            type: string
                            example: chis@innorix.com
                          name:
                            type: string
                            example: chis
                          accessToken:
                            type: string
                            example: string
                          refreshToken:
                            type: string
                            example: string
        '400':
          description: 'Request parameters or body are invalid. Cases: missing or invalid parameters.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized, invalid email or password
        '500':
          description: Internal server error
      operationId: loginAuth
  /api/auth/login-by-demo:
    post:
      summary: User login demo
      description: Authenticate user using email and password
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: test@innorix.com
                  description: User's email address
                password:
                  type: string
                  format: password
                  example: 2024Costomi!
                  description: User's password
      parameters:
      - in: query
        name: type
        schema:
          type: string
        required: false
        description: Example query parameter
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          email:
                            type: string
                            example: chis@innorix.com
                          name:
                            type: string
                            example: chis
                          accessToken:
                            type: string
                            example: string
                          refreshToken:
                            type: string
                            example: string
        '400':
          description: Bad request, missing or invalid parameters
        '401':
          description: Unauthorized, invalid email or password
        '500':
          description: Internal server error
      operationId: loginByDemoAuth
  /api/auth/login/free:
    post:
      summary: User login
      description: Authenticate user using email and password
      tags:
      - Auth
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccessResponse'
        '400':
          description: 'Request parameters or body are invalid. Cases: Guest mode is blocked; Free login
            is only available in Exacoola Cloud mode; Too many login requests, please try again later;
            Guest user cannot join workspace.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized, invalid email or password
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      operationId: createAuthLoginFree
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Request body fields must be confirmed against the controller/service before
                final publication.
  /api/auth/logout:
    get:
      summary: Logout user
      tags:
      - Auth
      responses:
        '200':
          description: User is authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
      operationId: logoutAuth
      parameters: []
  /api/auth/get-token:
    get:
      summary: Get a new access token
      tags:
      - Auth
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          email:
                            type: string
                            example: chis@innorix.com
                          name:
                            type: string
                            example: chis
                          accessToken:
                            type: string
                            example: string
                          refreshToken:
                            type: string
                            example: string
        '400':
          description: 'Request parameters or body are invalid. Cases: missing or invalid parameters.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Authentication is required or token is invalid. Cases: AUTHENTICATION_ERROR.MISSING_REFRESH_TOKEN
            [code: 11265]; AUTHENTICATION_ERROR.REFRESH_TOKEN_EXPIRE [code: 11120]; AUTHENTICATION_ERROR.INVALID_REFRESH_TOKEN
            [code: 11121].'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      operationId: listAuthGetToken
      parameters:
      - name: x-refresh-token
        in: header
        required: false
        schema:
          type: string
        description: x-refresh-token header value.
      description: 'Retrieves auth data for: Get a new access token.'
  /api/auth/send-code:
    post:
      summary: Send verification code
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: email email address.
                isSignup:
                  type: boolean
                  description: isSignup flag.
      responses:
        '200':
          description: Verification code sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Verification code sent successfully
        '400':
          description: 'Request parameters or body are invalid. Cases: User already exists; USER_ERROR.USER_NOT_FOUND
            [code: 11263].'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      operationId: sendCodeAuth
      parameters: []
      description: 'Creates or runs auth data for: Send verification code.'
  /api/auth/code-login-session:
    post:
      summary: Generate code login session
      tags:
      - Auth
      responses:
        '200':
          description: Code login session generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccessResponse'
        '400':
          description: 'Request parameters or body are invalid. Cases: Invalid email payload.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      operationId: createAuthCodeLoginSession
      parameters: []
      description: 'Creates or runs auth data for: Generate code login session.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Request body fields must be confirmed against the controller/service before
                final publication.
  /api/auth/reset-password:
    post:
      summary: Reset user password
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: email email address.
                password:
                  type: string
                  description: password value.
      responses:
        '200':
          description: Password updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Password changed successfully
        '400':
          description: 'Request parameters or body are invalid. Cases: Invalid email or password payload.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      operationId: resetPasswordAuth
      parameters: []
      description: 'Creates or runs auth data for: Reset user password.'
  /api/auth/verify:
    post:
      summary: User login
      description: Authenticate user using email and password
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: test@innorix.com
                  description: User's email address
                code:
                  type: string
                  format: password
                  example: 8888
                  description: code
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
        '400':
          description: Bad request, missing or invalid parameters
        '401':
          description: Unauthorized, invalid email or password
        '500':
          description: Internal server error
      operationId: verifyAuth
      parameters: []
  /api/auth/activate-account:
    post:
      summary: Activate user account using verification code
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: email email address.
                code:
                  type: string
                  description: code value.
      responses:
        '200':
          description: Account activated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Account activated successfully
        '400':
          description: 'Request parameters or body are invalid. Cases: USER_ERROR.USER_NOT_FOUND [code:
            11263]; USER_ERROR.ACCOUNT_ALREADY_ACTIVE [code: 11301].'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found or invalid code
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: activateAccountAuth
      parameters: []
      description: 'Creates or runs auth data for: Activate user account using verification code.'
  /api/auth/activate-account-direct:
    post:
      summary: Directly activate user account by email
      description: Activates a user account using only the email address (admin only)
      tags:
      - Auth
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                  description: User's email address to activate
      responses:
        '200':
          description: Account activated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: Account activated successfully
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Account activated successfully
        '400':
          description: Bad request or account already active
        '401':
          description: Unauthorized - Admin access required
        '404':
          description: User not found
        '500':
          description: Internal server error
      operationId: activateAccountDirectAuth
      parameters: []
  /api/auth/deactivate-account-direct:
    post:
      summary: Directly deactivate user account by email
      description: Deactivates a user account using only the email address (admin only)
      tags:
      - Auth
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                  description: User's email address to deactivate
      responses:
        '200':
          description: Account deactivated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: Account deactivated successfully
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Account deactivated successfully
        '400':
          description: Bad request or account already active
        '401':
          description: Unauthorized - Admin access required
        '404':
          description: User not found
        '500':
          description: Internal server error
      operationId: deactivateAccountDirectAuth
      parameters: []
  /api/auth/update-account:
    put:
      summary: Update user account information
      tags:
      - Auth
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: email email address.
                params:
                  type: object
                  description: params object.
                  additionalProperties: true
      responses:
        '200':
          description: Account updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Account updated successfully
        '400':
          description: 'Request parameters or body are invalid. Cases: USER_NOT_FOUND.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      operationId: updateAuthUpdateAccount
      parameters: []
      description: 'Replaces auth data for: Replace Auth auth update-account.'
  /api/auth/request-demo:
    post:
      summary: Request for demo
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: email email address.
      responses:
        '200':
          description: Demo request successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Demo request successfully
        '400':
          description: 'Request parameters or body are invalid. Cases: USER_ERROR.USER_ALREADY_EXIST [code:
            11267]; USER_ERROR.INVALID_EMAIL [code: 11258]; USER_ERROR.INVALID_PASSWORD [code: 11284];
            Please wait before requesting another OTP.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Authenticated user does not have permission. Cases: LICENSE_ERROR.LICENSE_NOT_FOUND_BY_USER
            [code: 11270]; LICENSE_ERROR.LICENSE_EXPIRED [code: 11130]; LICENSE_ERROR.CHANNEL_LIMIT_EXCEEDED
            [code: 11292].'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: requestDemoAuth
      parameters: []
      description: 'Creates or runs auth data for: Create Auth auth request-demo.'
  /api/auth/generate-token:
    post:
      summary: Generate token for demo
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: email email address.
      responses:
        '200':
          description: Token generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccessResponse'
        '400':
          description: 'Request parameters or body are invalid. Cases: This API is only available in Exacoola
            CLOUD mode; USER_ERROR.USER_NOT_FOUND [code: 11263].'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: generateTokenAuth
      parameters: []
      description: 'Creates or runs auth data for: Create Auth auth generate-token.'
  /api/auth/token-by-email:
    get:
      summary: Generate homepage access token by email (for authenticated users)
      tags:
      - Auth
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Token generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccessResponse'
        '400':
          description: 'Request parameters or body are invalid. Cases: Email is required; USER_ERROR.USER_NOT_FOUND
            [code: 11263].'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: listAuthTokenByEmail
      parameters: []
      description: 'Retrieves auth data for: Generate homepage access token by email (for authenticated
        users).'
  /api/auth/generate-key:
    post:
      summary: Generate API key for the authenticated user
      tags:
      - Auth
      security:
      - BearerAuth: []
      responses:
        '200':
          description: API key generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      apiKey:
                        type: string
                        example: a3f2c1...
        '401':
          description: Unauthorized
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      operationId: generateKeyAuth
      parameters: []
      description: 'Creates or runs auth data for: Generate API key for the authenticated user.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Request body fields must be confirmed against the controller/service before
                final publication.
  /api/auth/refresh-token:
    post:
      summary: Refresh the current session token
      description: Issues a fresh accessToken and refreshToken for the currently authenticated user, resetting
        the expiry time. No body required — uses the Bearer token from the Authorization header.
      tags:
      - Auth
      security:
      - BearerAuth: []
      responses:
        '200':
          description: New token pair issued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        example: eyJhbGci...
                      refreshToken:
                        type: string
                        example: eyJhbGci...
                      userId:
                        type: string
                        example: usr_abc123
                      email:
                        type: string
                        example: user@example.com
                      userName:
                        type: string
                        example: John Doe
        '401':
          description: Unauthorized - missing or invalid access token
        '500':
          description: Internal server error
      operationId: refreshTokenAuth
      parameters: []
  /api/auth/me:
    get:
      summary: Get current authenticated user
      description: Returns the full user profile of the owner of the provided access token. Verifies the
        token and validates the active Redis session.
      tags:
      - Auth
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Current user returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          userId:
                            type: string
                            example: usr_abc123
                          email:
                            type: string
                            example: user@example.com
                          userName:
                            type: string
                            example: John Doe
                          state:
                            type: number
                            example: 1
                          level:
                            type: number
                            example: 1
                          picture:
                            type: string
                            nullable: true
                            example: https://...
                          apiKey:
                            type: string
                            nullable: true
                            example: a3f2c1...
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
        '400':
          description: Invalid or expired access token
        '401':
          description: Unauthorized - missing access token
        '500':
          description: Internal server error
      operationId: listAuthMe
      parameters: []
  /api/auth/authenticators:
    get:
      summary: Get current user's authenticators
      description: Returns login sessions that were previously used for the authenticated user from the
        master login-session table.
      tags:
      - Auth
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Authenticators returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: session-id
                        os:
                          type: string
                          example: Mac OS
                        location:
                          type: string
                          nullable: true
                          example: KR
                        browser:
                          type: string
                          nullable: true
                          example: Google Chrome
                        lastUsed:
                          type: string
                          format: date-time
                        type:
                          type: string
                          example: desktop
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      operationId: listAuthAuthenticators
      parameters: []
  /api/auth/login-device/check:
    post:
      summary: Check current login session
      description: Checks whether the current request login session already exists in the master login-session
        table. Does not create data.
      tags:
      - Auth
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Login session check returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccessResponse'
        '400':
          description: 'Request parameters or body are invalid. Cases: User is required.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: checkLoginDevice
      parameters:
      - name: user-agent
        in: header
        required: false
        schema:
          type: string
        description: user-agent header value.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Request body fields must be confirmed against the controller/service before
                final publication.
  /api/auth/authenticators/{id}:
    delete:
      summary: Delete an authenticator
      description: Deletes a login session owned by the current authenticated user.
      tags:
      - Auth
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Login session id
      responses:
        '200':
          description: Authenticator deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccessResponse'
        '400':
          description: 'Request parameters or body are invalid. Cases: User is required; Authenticator
            id is required.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: User does not have permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: deleteAuthAuthenticator
  /api/auth/revoke-key:
    delete:
      summary: Revoke an API key
      description: Accepts an apiKey in the request body, finds the matching user record, and sets apiKey
        to null to immediately invalidate it.
      tags:
      - Auth
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - apiKey
              properties:
                apiKey:
                  type: string
                  example: a3f2c1d4e5b6...
                  description: The API key to revoke
      responses:
        '200':
          description: API key revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    example: 200
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: API key revoked successfully
        '400':
          description: API key is missing or not found
        '401':
          description: Unauthorized - missing or invalid access token
        '500':
          description: Internal server error
      operationId: revokeKeyAuth
      parameters: []
  /api/automation-component:
    post:
      summary: Create automation component
      tags:
      - Automation Component
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationComponentInput'
            example:
              automationDetailId: D1234-5678-9012-3456
              type: ai_pipeline
              url: https://example.com/pipeline
              storagePath: /automation/components/pipeline
              tags:
              - Upload
              - Portal
              authType: API Key
              authKey: secret-value
              outboundMethod: POST
              outboundEndpointUrl: https://api.example.com/events
              outboundEventPayload:
                fileId: file_001
                path: /upload/data.csv
              webhookUrl: https://example.com/webhook
              webhookSecretToken: webhook-secret
              webhookEventPayload:
                fileId: file_001
                path: /upload/data.csv
                userId: user_001
      responses:
        '201':
          description: Automation component created
        '400':
          description: Invalid request or component already exists for automation detail
      operationId: createAutomationComponent
      parameters: []
  /api/automation-component/automation-detail/{automationDetailId}:
    get:
      summary: Get automation component by automation detail ID
      tags:
      - Automation Component
      parameters:
      - in: path
        name: automationDetailId
        required: true
        schema:
          type: string
        description: Automation detail ID
      responses:
        '200':
          description: Automation component found
        '400':
          description: Automation component not found
      operationId: getAutomationComponentAutomationDetail
  /api/automation-component/{componentId}:
    get:
      summary: Get automation component by ID
      tags:
      - Automation Component
      parameters:
      - in: path
        name: componentId
        required: true
        schema:
          type: string
        description: Component ID
      responses:
        '200':
          description: Automation component found
        '400':
          description: Automation component not found
      operationId: getAutomationComponent
    patch:
      summary: Update automation component
      tags:
      - Automation Component
      parameters:
      - in: path
        name: componentId
        required: true
        schema:
          type: string
        description: Component ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationComponentInput'
            example:
              type: workflow
              url: https://example.com/workflow
              tags:
              - Portal
              outboundMethod: POST
              outboundEndpointUrl: https://api.example.com/workflows/events
      responses:
        '200':
          description: Automation component updated
        '400':
          description: Invalid request or automation component not found
      operationId: updateAutomationComponent
    delete:
      summary: Delete automation component
      tags:
      - Automation Component
      parameters:
      - in: path
        name: componentId
        required: true
        schema:
          type: string
        description: Component ID
      responses:
        '200':
          description: Automation component deleted
        '400':
          description: Automation component not found
      operationId: deleteAutomationComponent
  /api/automation/getAutomationListWithTransferData:
    get:
      summary: Get a list of automations with transfer data
      tags:
      - Automation
      parameters:
      - in: query
        name: page
        schema:
          type: integer
        description: The page number for pagination
      - in: query
        name: size
        schema:
          type: integer
        description: The number of results per page
      responses:
        '200':
          description: Successful response
      operationId: listAutomationGetautomationlistwithtransferdata
  /api/automation/next-schedule/{automationDetailId}:
    get:
      summary: Get next schedules by automation detail
      tags:
      - Automation
      parameters:
      - in: path
        name: automationDetailId
        required: true
        schema:
          type: string
        description: Automation detail ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  automationDetail:
                    type: object
                  automation:
                    type: object
                  schedule:
                    type: object
        '404':
          description: Automation detail not found
      operationId: getAutomationNextSchedule
    patch:
      summary: Get next schedules by automation detail
      tags:
      - Automation
      parameters:
      - in: path
        name: automationDetailId
        required: true
        schema:
          type: string
        description: Automation detail ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nextTransfer:
                  type: number
                  description: Automation name
                status:
                  type: number
                  description: Automation name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  automationDetail:
                    type: object
                  automation:
                    type: object
                  schedule:
                    type: object
        '404':
          description: Automation detail not found
      operationId: updateAutomationNextSchedule
  /api/automation/upcoming/editable:
    get:
      summary: Get upcoming automations still within the editable window
      description: Returns automations whose upcomingStatus is `counting` or `modal_open` and whose deadline
        has not yet passed (or the modal is currently open, pausing the deadline). Each item includes
        a pre-calculated `upcomingRemainingMs` ready for the frontend countdown.
      tags:
      - Automation
      responses:
        '200':
          description: List of editable upcoming automations
      operationId: listAutomationUpcomingEditable
      parameters: []
  /api/automation/detail-transfers-unified:
    get:
      summary: Get unified transfer details by automation detail
      description: Returns transfer and transfer history records for an automationDetailId. Each transfer
        item uses the same response format as GET /api/transfer/{monitorId}/detail-unified.
      tags:
      - Automation
      parameters:
      - in: query
        name: automationDetailId
        required: true
        schema:
          type: string
        description: Automation detail ID
      - in: query
        name: automationId
        required: false
        schema:
          type: string
        description: Fallback automation ID when automationDetailId is not provided
      - in: query
        name: sourceId
        required: false
        schema:
          type: string
        description: Fallback source device ID when automationDetailId is not provided
      - in: query
        name: targetId
        required: false
        schema:
          type: string
        description: Fallback target device ID when automationDetailId is not provided
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      automationDetail:
                        type: object
                      transfers:
                        type: array
                        items:
                          type: object
        '400':
          description: Missing or invalid parameters
      operationId: listAutomationDetailTransfersUnified
  /api/automation/{automationId}/upcoming/pause:
    post:
      summary: Pause an upcoming transfer countdown
      description: Called when the edit modal opens. Stores the remaining countdown time and blocks scheduler
        execution while the modal is open.
      tags:
      - Automation
      parameters:
      - in: path
        name: automationId
        required: true
        schema:
          type: string
        description: Upcoming automation ID
      responses:
        '200':
          description: Upcoming countdown paused
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      automationId:
                        type: string
                      remaining_ms:
                        type: number
                        example: 187000
                      paused_at:
                        type: string
                        format: date-time
                      upcomingStatus:
                        type: string
                        example: modal_open
        '400':
          description: Automation is not upcoming or cannot be paused
      operationId: pauseAutomation
  /api/automation/{automationId}/upcoming/resume:
    post:
      summary: Resume an upcoming transfer countdown
      description: Called when the edit modal closes without saving. Rebuilds the deadline from the saved
        remaining time.
      tags:
      - Automation
      parameters:
      - in: path
        name: automationId
        required: true
        schema:
          type: string
        description: Upcoming automation ID
      responses:
        '200':
          description: Upcoming countdown resumed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      automationId:
                        type: string
                      new_deadline:
                        type: string
                        format: date-time
                      remaining_ms:
                        type: number
                        example: 187000
                      upcomingStatus:
                        type: string
                        example: counting
        '400':
          description: Automation is not upcoming or cannot be resumed
      operationId: resumeAutomation
  /api/automation/{automationId}/details:
    get:
      summary: Get automation details by automationId with transfer percent and device osType
      tags:
      - Automation
      parameters:
      - in: path
        name: automationId
        required: true
        schema:
          type: string
        description: The automation ID
      - in: query
        name: page
        schema:
          type: integer
          default: 1
        description: Page number for pagination
      - in: query
        name: size
        schema:
          type: integer
          default: 10
        description: Number of details per page
      responses:
        '200':
          description: Successful response with automation details, transfer percents, median percent,
            and device osTypes
      operationId: listAutomationDetails
  /api/automation/{automationDetailId}/detail/v2:
    get:
      summary: Get automation details by automationDetailId with transfer percent and device osType
      tags:
      - Automation
      responses:
        '200':
          description: Successful response with automation details, transfer percents, median percent,
            and device osTypes
      operationId: listAutomationDetailV2
      parameters:
      - in: path
        name: automationDetailId
        required: true
        schema:
          type: string
  /api/automation/{automationId}/copy-transfer-options:
    get:
      summary: Get a copy-ready automation payload from an existing automation
      description: 'Fetches an existing automation and returns a pre-built payload for creating a new

        automation that inherits the same transfer options.

        Use `keepMode=source` to keep the source device/path and let the caller supply a new target.

        Use `keepMode=target` to keep the target device/path and let the caller supply a new source.

        '
      tags:
      - Automation
      parameters:
      - in: path
        name: automationId
        required: true
        schema:
          type: string
        description: The automation ID to copy options from
      - in: query
        name: keepMode
        required: false
        schema:
          type: string
          enum:
          - source
          - target
          default: source
        description: 'Which side to keep from the original automation.

          "source" keeps sourceId + sourceItem, clears targetId + targetPath.

          "target" keeps targetId + targetPath, clears sourceId + sourceItem.

          '
      - in: query
        name: detailIndex
        required: false
        schema:
          type: integer
          default: 0
        description: Zero-based index of the automation detail to copy (default 0)
      responses:
        '200':
          description: Ready-to-use automation copy payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      automation:
                        type: object
                        description: Summary of the source automation
                      originalDetail:
                        type: object
                        description: The original automation detail at detailIndex
                      keepMode:
                        type: string
                        enum:
                        - source
                        - target
                      keptDetail:
                        type: object
                        description: The detail with the unkept side cleared
                      copyPayload:
                        type: object
                        description: Full body payload ready to POST to /api/automation
        '400':
          description: Missing or invalid automationId
        '404':
          description: Automation not found
      operationId: copyTransferOptionsAutomation
  /api/automation/{automationId}:
    get:
      summary: Get a automation detail by ID
      tags:
      - Automation
      parameters:
      - in: path
        name: automationId
        required: true
        schema:
          type: string
        description: ID of the automation to get detail
      responses:
        '200':
          description: Successful response
      operationId: getAutomation
    patch:
      summary: Update Automation
      description: Updates an existing automation with the specified ID
      tags:
      - Automation
      parameters:
      - in: path
        name: automationId
        required: true
        schema:
          type: string
        description: The ID of the automation to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - schedule
              - details
              properties:
                name:
                  type: string
                  description: Automation name
                schedule:
                  type: object
                  required:
                  - type
                  - hour
                  - minute
                  - timezone
                  - startDate
                  - endDate
                  properties:
                    type:
                      type: string
                      enum:
                      - hour
                      - day
                      - week
                      - month
                      - realtime
                      description: The type of schedule
                    hour:
                      type: string
                      description: Hour of the schedule (e.g., "09" for 9 AM)
                    minute:
                      type: string
                      description: Minute of the schedule (e.g., "30" for 30 minutes past the hour)
                    timezone:
                      type: string
                      description: Timezone for the schedule (e.g., "America/New_York")
                    startDate:
                      type: string
                      format: date-time
                      description: Start time of the automation in ISO 8601 format
                    endDate:
                      type: string
                      format: date-time
                      description: End time of the automation in ISO 8601 format
                  description: Schedule setup for automation
                details:
                  type: array
                  items:
                    type: object
                    required:
                    - sourceItem
                    - targetPath
                    - senderId
                    - receiverId
                    - step
                    properties:
                      sourceItem:
                        type: array
                        items:
                          type: string
                        description: List of source file paths
                      targetPath:
                        type: string
                        description: Destination path for the automation
                      senderId:
                        type: string
                        description: ID of the sender
                      fileCount:
                        type: number
                        description: Number of files
                      folderCount:
                        type: number
                        description: Number of folders
                      sizeCount:
                        type: number
                        description: Total size in bytes
                      receiverId:
                        type: string
                        description: ID of the receiver
                      step:
                        type: integer
                        description: Step number in the automation process
                  description: List of details for automation
              description: Schema for updating an automation
            example:
              name: Automation e7f2a9b3-5c1d-4e9a-8b72-3d4e9f102a8c
              schedule:
                type: day
                hour: 09
                minute: '30'
                timezone: America/New_York
                startDate: '2025-02-27T14:30:00.000Z'
                endDate: '2025-02-28T14:30:00.000Z'
              details:
              - sourceItem:
                - D:/Projects/data/exported_users.csv
                - D:/Projects/data/sales_report.pdf
                targetPath: D:/Backup/Daily_Reports
                senderId: user123
                receiverId: backup_sys_001
                step: 1
                fileCount: 2
                folderCount: 0
                sizeCount: 1000
              - sourceItem:
                - D:/Logs/application.log
                targetPath: D:/Logs/Archive
                senderId: app_server_01
                receiverId: log_archiver
                step: 1
                fileCount: 1
                folderCount: 0
                sizeCount: 1000
      responses:
        '200':
          description: Automation updated successfully
        '400':
          description: Invalid request data
        '404':
          description: Automation not found
        '500':
          description: Server error
      operationId: updateAutomation
    delete:
      summary: Delete automation by ID
      tags:
      - Automation
      parameters:
      - in: path
        name: automationId
        required: true
        schema:
          type: string
        description: Delete by automation ID
      responses:
        '200':
          description: Successful response
      operationId: deleteAutomation
  /api/automation:
    post:
      summary: Create Automation
      description: Creates a new automation
      tags:
      - Automation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - schedule
              - details
              properties:
                name:
                  type: string
                  description: Automation name
                schedule:
                  type: object
                  required:
                  - type
                  - hour
                  - minute
                  - timezone
                  - startDate
                  - endDate
                  properties:
                    type:
                      type: string
                      enum:
                      - hour
                      - day
                      - week
                      - month
                      - realtime
                      description: The type of schedule
                    hour:
                      type: string
                      description: Hour of the schedule (e.g., "09" for 9 AM)
                    minute:
                      type: string
                      description: Minute of the schedule (e.g., "30" for 30 minutes past the hour)
                    timezone:
                      type: string
                      description: Timezone for the schedule (e.g., "America/New_York")
                    startDate:
                      type: string
                      format: date-time
                      description: Start time of the automation in ISO 8601 format
                    endDate:
                      type: string
                      format: date-time
                      description: End time of the automation in ISO 8601 format
                  description: Schedule setup for automation
                details:
                  type: array
                  items:
                    type: object
                    required:
                    - sourceItem
                    - targetPath
                    - senderId
                    - receiverId
                    - step
                    properties:
                      sourceItem:
                        type: array
                        items:
                          type: string
                        description: List of source file paths
                      targetPath:
                        type: string
                        description: Destination path for the automation
                      senderId:
                        type: string
                        description: ID of the sender
                      fileCount:
                        type: number
                        description: Number of files
                      folderCount:
                        type: number
                        description: Number of folders
                      sizeCount:
                        type: number
                        description: Total size in bytes
                      receiverId:
                        type: string
                        description: ID of the receiver
                      step:
                        type: integer
                        description: Step number in the automation process
                  description: List of details for automation
              description: Schema for creating an automation
            example:
              name: Automation e7f2a9b3-5c1d-4e9a-8b72-3d4e9f102a8c
              schedule:
                type: day
                hour: 09
                minute: '30'
                timezone: America/New_York
                startDate: '2025-02-27T14:30:00.000Z'
                endDate: '2025-02-28T14:30:00.000Z'
              details:
              - sourceItem:
                - D:/Projects/data/exported_users.csv
                - D:/Projects/data/sales_report.pdf
                targetPath: D:/Backup/Daily_Reports
                senderId: user123
                receiverId: backup_sys_001
                step: 1
                fileCount: 2
                folderCount: 0
                sizeCount: 1000
              - sourceItem:
                - D:/Logs/application.log
                targetPath: D:/Logs/Archive
                senderId: app_server_01
                receiverId: log_archiver
                step: 1
                fileCount: 1
                folderCount: 0
                sizeCount: 1000
      responses:
        '201':
          description: Automation created successfully
        '400':
          description: Invalid request data
        '500':
          description: Server error
      operationId: createAutomation
      parameters: []
    get:
      summary: Get a list of automations
      tags:
      - Automation
      parameters:
      - in: query
        name: page
        schema:
          type: integer
        description: The page number for pagination
      - in: query
        name: size
        schema:
          type: integer
        description: The number of results per page
      - in: query
        name: searchKeyword
        schema:
          type: string
        description: Search keyword
      - in: query
        name: sort
        schema:
          type: string
        description: field:asc
      responses:
        '200':
          description: Successful response
      operationId: listAutomation
  /api/automation/checkValidDevicePath:
    post:
      summary: Check if a path is valid on a list of devices
      tags:
      - Automation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - deviceList
              - pathEncodeList
              properties:
                deviceList:
                  type: array
                  items:
                    type: string
                  description: List of device IDs to validate the path against
                  example:
                  - 6825bf6bd75095bd0c9ab2f5
                  - 6825c0bdfaa222ffa5b160a7
                pathEncodeList:
                  type: array
                  description: List of path IDs to validate
                  example:
                  - 685a75571b83d6e0cef3228f_ino_aG1rYW5nL2R1bW15Mg
                  - 685a75571b83d6e0cef3228f_ino_aG1rYW5nL2R1bW15Mg
      responses:
        '200':
          description: Returns validation result for each device
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    deviceId:
                      type: string
                    isValid:
                      type: boolean
                      description: true if path exists on device
                  example:
                    deviceId: DEVICE_001
                    isValid: true
        '400':
          description: Invalid request format
        '500':
          description: Internal server error
      operationId: createAutomationCheckvaliddevicepath
      parameters: []
  /api/automation/pause:
    post:
      summary: pause automation
      tags:
      - Automation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pause
              properties:
                pause:
                  type: boolean
      responses:
        '200':
          description: Returns validation result for each device
        '400':
          description: Invalid request format
        '500':
          description: Internal server error
      operationId: pauseAutomationPost
      parameters: []
  /api/automation/deleteAutomationPhysically/{deviceId}:
    delete:
      summary: Delete automation physically
      tags:
      - Automation
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
        description: ID of the device to delete automation
      responses:
        '200':
          description: Successful response
      operationId: deleteAutomationDeleteautomationphysically
  /api/automation/flow/{flowId}/name:
    patch:
      summary: Update flowName by flowId
      description: Updates the flowName of all automations that share the given flowId within the current
        workspace. Returns 400 with error code 11312 if no automation is found for the given flowId.
      tags:
      - Automation
      parameters:
      - in: path
        name: flowId
        required: true
        schema:
          type: string
        description: The flowId to look up automations by
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - flowName
              properties:
                flowName:
                  type: string
                  description: The new flow name to set
                  example: My Updated Flow
      responses:
        '200':
          description: flowName updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      flowId:
                        type: string
                      newFlowName:
                        type: string
                      updatedCount:
                        type: integer
        '400':
          description: Flow not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Bad Request
                  error:
                    type: integer
                    example: 11312
      operationId: updateAutomationFlowName
  /api/canvas:
    get:
      summary: Get canvas position by deviceId
      tags:
      - Canvas
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '500':
          description: Internal server error
      operationId: listCanvas
      parameters: []
    post:
      summary: Save or update canvas position for a device
      tags:
      - Canvas
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                canvasId:
                  type: string
                position:
                  type: object
                  properties:
                    x:
                      type: number
                    y:
                      type: number
      responses:
        '200':
          description: Canvas saved successfully
        '400':
          description: Invalid request
        '500':
          description: Internal server error
      operationId: createCanvas
      parameters: []
  /command/generate-code:
    get:
      summary: Generate a new command code
      tags:
      - Command
      responses:
        '200':
          description: Command code generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
      operationId: generateCodeCommand
      parameters: []
    post:
      summary: Generate a new command code
      tags:
      - Command
      responses:
        '200':
          description: Command code generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
      operationId: generateCodeCommandPost
      parameters: []
  /command/generate-api-key:
    get:
      summary: Generate a new API key for a command automation
      tags:
      - Command
      responses:
        '200':
          description: Command API key generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
      operationId: generateApiKeyCommand
      parameters: []
  /command/{code}:
    get:
      summary: Trigger automation command by code
      tags:
      - Command
      security:
      - CommandApiKey: []
      parameters:
      - in: path
        name: code
        required: true
        schema:
          type: string
        description: Command Code
      responses:
        '200':
          description: Command automation triggered successfully
      operationId: getCommand
    post:
      summary: Trigger automation command by code
      tags:
      - Command
      security:
      - CommandApiKey: []
      parameters:
      - in: path
        name: code
        required: true
        schema:
          type: string
        description: Command Code
      responses:
        '200':
          description: Command automation triggered successfully
      operationId: createCommand
  /api/credit/subscription/update:
    post:
      summary: Update subscription credit and set subscription type to 1
      tags:
      - Credit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: ID of the user
                credit:
                  type: number
                  description: Subscription credit amount
              required:
              - userId
              - credit
      responses:
        '200':
          description: Subscription updated successfully
        '400':
          description: Bad request (missing userId or credit)
      operationId: createCreditSubscriptionUpdate
      parameters: []
  /api/credit/subscription/update-type:
    post:
      summary: Update credit subscription type from -1 to 0
      tags:
      - Credit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: ID of the user
              required:
              - userId
      responses:
        '200':
          description: Subscription type updated successfully
        '400':
          description: Bad request (missing userId)
      operationId: createCreditSubscriptionUpdateType
      parameters: []
  /api/credit/subscription/cancel-end-of-month:
    post:
      summary: Cancel Stripe subscription at the end of the billing period
      tags:
      - Credit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: User email for Stripe lookup
                userId:
                  type: string
                  description: ID of the user
              required:
              - email
              - userId
      responses:
        '200':
          description: Subscription will be cancelled at end of period
        '400':
          description: Bad request (missing email or userId)
      operationId: cancelEndOfMonthSubscription
      parameters: []
  /api/hot-folder:
    get:
      summary: Get all hot folders
      tags:
      - Hot Folder
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          default: 1
        description: Page number
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
        description: Number of items per page
      responses:
        '200':
          description: List of hot folders
        '500':
          description: Internal server error
      operationId: listHotFolder
    post:
      summary: Create a new hot folder
      tags:
      - Hot Folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - deviceId
              - path
              properties:
                deviceId:
                  type: string
                  description: The device this hot folder belongs to
                paths:
                  type: array
                  description: List of hot folders to create
                  items:
                    type: object
                    required:
                    - path
                    properties:
                      path:
                        type: string
                        description: Folder path on the device
                        example: /home/user/documents
                      items:
                        type: array
                        description: JSON array of items inside the hot folder
                        default: []
                      groupId:
                        type: string
                        description: Group ID of the hot folder
                        example: /home/user/documents
                      groupName:
                        type: string
                        description: Group name of the hot folder
                        example: /home/user/documents
      responses:
        '201':
          description: Hot folder created successfully
        '400':
          description: Invalid input
        '500':
          description: Internal server error
      operationId: createHotFolder
      parameters: []
  /api/hot-folder/{id}/qr-url:
    get:
      summary: Generate a QR Code URL to copy/add a hot folder
      tags:
      - Hot Folder
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: QR URL and code generated successfully
      operationId: listHotFolderQrUrl
  /api/hot-folder/{id}:
    get:
      summary: Get a hot folder by ID
      tags:
      - Hot Folder
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: The hot folder UUID
      responses:
        '200':
          description: Hot folder data
        '404':
          description: Hot folder not found
        '500':
          description: Internal server error
      operationId: getHotFolder
    patch:
      summary: Update a hot folder
      tags:
      - Hot Folder
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: The hot folder UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                path:
                  type: string
                items:
                  type: array
      responses:
        '200':
          description: Hot folder updated successfully
        '404':
          description: Hot folder not found
        '500':
          description: Internal server error
      operationId: updateHotFolder
    delete:
      summary: Delete a hot folder
      tags:
      - Hot Folder
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: The hot folder UUID
      responses:
        '200':
          description: Hot folder deleted successfully
        '404':
          description: Hot folder not found
        '500':
          description: Internal server error
      operationId: deleteHotFolder
[...]
